<div class="component-source">
  <h3>Source Code</h3>
  <app-code language="ts" [code]="component()"></app-code>
<!--
  <mat-tab-group [mat-stretch-tabs]="false">
    <mat-tab label="TS">
    </mat-tab>
    <mat-tab label="HTML">
      <app-code language="html" [code]="html()"></app-code>
    </mat-tab>
    <mat-tab label="SCSS">
      <app-code language="scss" [code]="style()"></app-code>
    </mat-tab>
    <mat-tab label="SPEC">
      <app-code language="ts" [code]="spec()"></app-code>
    </mat-tab>
  </mat-tab-group> -->
</div>
